{% extends "base.html.twig" %}

{% block metatitle %}
    Liste d'articles | Site trop cool
{% endblock metatitle %}


{% block main %}
    <h1>Liste d'articles</h1>

    <section class="articles-container">
        {% for article in articles %}

            <article class="article-container">
                <p>{{ article.title }}</p>
                <p>{{ article.content }}</p>
                <div class="image"><img src="{{ article.image }}"></div>
                <ul>
                    <li><a href="{{ path('article_show', {id: article.id}) }}">Voir l'article</a></li>
                    <li><a href="{{ path('delete_article', {id: article.id}) }}"> Supprimer l'article </a> </li>
                    <li><a href="{{ path('update_article', {id: article.id}) }}"> Mettre à jour l'article </a> </li>
                </ul>


            </article>

        {% endfor %}
    </section>

{% endblock main %}
