{% extends "base.html.twig" %}

{% block metatitle %}
    Catégories | Site trop cool
{% endblock metatitle %}

{% block main %}
    <h1>Catégories</h1>




        <p>{{ category.title }}</p>
        <p>{{ category.color }}</p>

    <ul>
        <li><a href="{{ path('categories', {id: article.id}) }}">Voir la catégorie</a></li>
        <li><a href="{{ path('delete_category', {id: article.id}) }}"> Supprimer la catégorie </a> </li>
        <li><a href="{{ path('category_update', {id: article.id}) }}"> Mettre à jour la catégorie </a> </li>
    </ul>
{% endblock main %}